<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">id</td>
        <td th:utext="${user.username}">name</td>
        <td th:utext="${user.surname}">surname</td>
        <td th:utext="${user.password}">surname</td>
        <td th:utext="${user.salary}">surname</td>
        <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Edit</a></td>
        <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
</table>
<br/>
<a href="/admin/user-create">Create new User</a>
</body>
</html>